@import '@styles/_mixins.scss';

.blog-section {
  padding: 0 10%;

  @include screen-down(md) {
    padding: 0 1rem;
  }

  &-list {
    padding: 3rem 0;
    border-bottom: 1px dotted #ddd;

    :global .blog-section-header {
      h1 {
        max-width: 900px;
        margin: 0 auto;
        color: var(--bs-warning);
      }
    }

    :global .blog-section-pagination ul li {
      margin-right: 0.5rem;
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
  }
}
