@import '@/styles/_mixins.scss';

.content-container {
  margin: 64px auto;
  padding: 24px 10%;
  background: rgba(240, 248, 253, 0.5);

  @include screen-down(sm) {
    padding: 32px;
  }

  :global .ft-main-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .main-header {
      color: #17274e;
      font-family: 'Quicksand';
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      text-align: center;
      margin-bottom: 32px;

      @include screen-down(md) {
        font-size: 28px;
        line-height: 32px;
      }
    }

    .main-content {
      width: 100%;

      .card-container {
        @include screen-up(xl) {
          margin-bottom: 64px;
        }

        @include screen-down(xl) {
          flex-direction: column;
          margin-bottom: 32px;

          &:nth-of-type(even) {
            flex-direction: column-reverse;
          }
        }

        .content-container {
          width: 52%;

          @include screen-down(xl) {
            width: 80%;
          }

          @include screen-down(md) {
            width: 100%;
          }

          .btn-text {
            color: #ffbe16;
            font-family: Quicksand;
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            text-decoration: underline;

            @include screen-down(sm) {
              font-size: 18px;
            }
          }
        }
      }

      .card-button {
        background: #ffc01e;
        border-radius: 8px;
        font-family: 'Quicksand';
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #fff;
        padding: 12px 24px;

        @include screen-down(xl) {
          font-size: 24px;
          line-height: 28px;
        }

        @include screen-down(sm) {
          font-size: 18px;
          line-height: 24px;
        }

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
      }

      .card-title {
        font-family: 'Quicksand';
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.5px;
        color: #ffc01e;
        margin-bottom: 24px;

        @include screen-down(lg) {
          font-size: 28px;
        }

        @include screen-down(md) {
          font-size: 24px;
        }
      }

      .list-items-container {
        margin-bottom: 24px;

        .h6 {
          font-family: 'Quicksand';
          font-weight: 500;
          font-size: 24px;
          line-height: 36px;
          letter-spacing: -0.5px;
          color: #1f3a6f;
          text-align: justify;

          @include screen-down(md) {
            font-size: 18px;
            line-height: 28px;
          }
        }
      }

      .check-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 28px;
        height: 28px;
        text-align: center;
        background-color: #ffc01e;
        border-radius: 50%;
        margin-right: 16px;
        flex-shrink: 0;
        top: 8px;

        @include screen-down(md) {
          width: 22px;
          height: 22px;
        }

        .check-icon-img {
          width: 12px;
          height: 12px;

          @include screen-down(md) {
            width: 10px;
            height: 10px;
          }
        }
      }

      .refer-friends-container {
        .refer-friends-img {
          width: 430px;
          height: 314px;

          @include screen-between(xl, xxl) {
            width: 360px;
            height: 263px;
          }

          @include screen-down(xl) {
            margin-bottom: 36px;
          }

          @include screen-down(sm) {
            width: 340px;
            height: 248px;
          }
        }

        .list-items-container {
          .h6 {
            text-align: justify;
          }
        }
      }
    }
  }
}
