@import '@/styles/_mixins.scss';
@import '@/styles/_variables.scss';

.calculator-contain {
  :global .calculator-section {
    background-color: #f9fbfe;

    .ft-container {
      @include screen-up(xl) {
        max-width: $max-width-xl;
      }
    }

    .calculator-section__header {
      .service-header__inner__left {
        & > div {
          max-width: 570px;

          @include screen-down(xl) {
            max-width: 480px;
          }
        }
      }
    }

    .calculator-section__main {
      padding: 64px 0;
      max-width: 1140px;
      margin: auto;
      justify-content: space-between;
      align-items: flex-start;

      @include screen-down(xl) {
        max-width: 960px;
      }

      @include screen-down(lg) {
        max-width: 720px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      @include screen-down(md) {
        max-width: 540px;
      }

      .img-inactive {
        filter: sepia(1);
      }

      .btn-effect {
        padding: 16px 24px;
        color: $heading-color;
        border: 1.8px solid $grey-color;

        &:hover {
          box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
          background-color: #fff;
          color: $heading-color;
        }
      }

      .flipY-animation {
        animation: flipInY 0.6s linear;
      }

      .btn-selected {
        border-color: $primary-color;
        background-color: #fff9ea;

        &:hover {
          background-color: #fff9ea;
        }
      }

      .circle-img-28 {
        width: 28px;
        min-width: 28px;
        height: 28px;
        overflow: hidden;
        border-radius: 50%;
      }

      .circle-img-81 {
        width: 81px;
        min-width: 81px;
        height: 81px;
        overflow: hidden;
        border-radius: 50%;
      }

      &__left {
        padding-left: 16px;
        padding-right: 32px;
        align-items: flex-start;
        font-family: 'Gilroy-Regular';

        @include screen-down(lg) {
          padding: 0;
        }

        .employment-gr-btn,
        .calculator-gr-btn,
        .amount-gr-btn {
          margin-bottom: 32px;
        }

        .employment-gr-btn {
          button {
            padding: 28px 24px;
          }

          .circle-img {
            background: #eef3f8;
            font-size: 42px;
          }

          .circle-img-selected {
            background: $primary-color;
          }
        }

        .calculator-gr-btn {
          display: flex;
          justify-content: space-between;

          button {
            width: 30%;
          }
        }

        .amount-gr-btn {
          button {
            border-color: #fcbe17;
            background-color: #fff9ea;
          }

          input {
            font-size: 24px;
            background: inherit;
            border: none;
            border-bottom: 2px solid $grey-color;
            border-radius: 0;
            outline: none;
            width: 100%;

            &:focus {
              box-shadow: none;
            }
          }

          .dropdown-menu {
            --bs-dropdown-min-width: 5rem;
          }

          .dropdown-item.active {
            background-color: $primary-color;
          }
        }

        .btn-active {
          @include screen-down(lg) {
            margin-bottom: 32px;
          }
        }
      }

      &__right {
        background: #fff;
        border: 1px solid #eef3f8;
        box-shadow: 0px 6px 12px rgb(19 42 151 / 10%);
        border-radius: 15px;

        &-top {
          padding: 32px;

          .group-btn-for {
            justify-content: space-around;
            margin-bottom: 32px;
          }

          .group-btn-currency {
            margin-bottom: 32px;

            button {
              padding: 12px;
              margin-right: 32px;
            }

            img {
              filter: grayscale(1);
            }

            .btn-selected img {
              filter: grayscale(0);
            }
          }

          hr {
            border-top: 3px solid rgba(0, 0, 0, 0.2);
            margin-bottom: 32px;
          }
        }

        &-bottom {
          padding: 32px;
          display: flex;
        }
      }
    }

    .calculator-section__footer {
      background-color: #fff;
      margin-bottom: 64px;

      .slogan {
        padding-top: 70px;
        padding-bottom: 70px;

        @include screen-up(sm) {
          padding-top: 80px;
          padding-bottom: 80px;
        }

        @include screen-up(lg) {
          padding-top: 120px;
        }

        .div-center {
          margin: 0;

          .h2 {
            margin-bottom: 32px;

            @include screen-down(lg) {
              font-size: 36px;
            }

            @include screen-down(sm) {
              font-size: 32px;
              line-height: 43px;
              letter-spacing: -0.5px;
            }
          }
        }
      }
    }
  }
}
