@import '@/styles/_mixins.scss';

.switch-language {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 4px;

  @include screen-down(lg) {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 8px;
  }

  :global .switch-language__img-container {
    position: relative;
    width: 28px;
    height: 28px;

    &:hover {
      cursor: pointer;
    }
  }

  :global .switch-language__text-container {
    font-size: 16px;
    line-height: 24px;
    color: #17274e;
    font-family: Gilroy-Medium;
    margin-bottom: 8px;
  }

  :global .switch-language__drop-down {
    display: none;
    min-width: 160px;
    position: absolute;
    right: 0;
    top: 42px;
    z-index: 1050;

    &.show {
      display: block;
    }
  }

  :global .switch-language__drop-down-menu {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  }

  :global .switch-language__drop-down-menu-item {
    position: relative;
    font-family: 'Gilroy-Regular';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid;

    &:last-child {
      border-bottom: none;
    }

    color: #000;
    border-bottom: none;

    &:hover {
      background-color: #f3f7fa;
      color: #000;
    }

    &.dropdown-menu-item-selected {
      background-color: $primary-color;
      color: #fff;

      &:first-child {
        border-radius: 8px 8px 0 0;
      }

      &:last-child {
        border-radius: 0 0 8px 8px;
      }
    }s

    &:first-child:hover {
      border-radius: 8px 8px 0 0;
    }

    &:last-child:hover {
      border-radius: 0 0 8px 8px;
    }

    .drop-down-img-container {
      width: 28px;
      height: 28px;
      margin-right: 20px;
    }
  }
}
