// https://getbootstrap.com/docs/5.0/layout/grid/#variables

// breakpoints
$xs: 575.98px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// media max-width
$max-width-xs: 351px;
$max-width-sm: 540px;
$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1140px;
$max-width-xxl: 1320px;

// A map of breakpoints.
$breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);

$color-link: transparent;
$spacing: 8px;

// color
$primary-color: #ffbe16;
$heading-color: #17264e;
$p-color: #3e5476;
$grey-color: #a4b7c8;
