@import 'mixins';

.c-h1-title {
  font-family: "Gilroy-SemiBold";
  font-size: 54px;
  line-height: 60px;
  /* or 111% */

  letter-spacing: -1px;
  margin-bottom: 16px;
  color: #17274e;

  @include screen-down(lg) {
    font-size: 48px !important;
    line-height: 115% !important;
    /* or 55px */
  }

  @include screen-down(sm) {
    font-size: 32px !important;
    line-height: 135% !important;
  }
}

.c-h2-title {
  font-family: "Gilroy-SemiBold";
  font-size: 48px;
  line-height: 115%;
  /* or 55px */

  display: flex;
  align-items: flex-end;
  letter-spacing: -1px;

  @include screen-down(md) {
    font-size: 36px !important;
    line-height: 125% !important;
  }

  @include screen-down(sm) {
    font-size: 22px !important;
    line-height: 135% !important;
    /* or 30px */
    letter-spacing: -0.25px;
  }
}

.c-h3-title {
  /* H3 */

  font-family: "Gilroy-SemiBold";
  font-size: 36px;
  line-height: 125%;
  /* or 45px */
  color: #17274e;

  @include screen-down(md) {
    font-size: 22px !important;
    line-height: 135% !important;
    /* or 30px */
    letter-spacing: -0.25px;
  }

  &--maintain {
    @include screen-down(md) {
      font-size: 36px !important;
      line-height: 125% !important;
    }
  }
}

.c-h4-title {
  font-family: "Gilroy-SemiBold";
  font-size: 32px;
  line-height: 135%;
  /* or 43px */

  letter-spacing: -0.5px;

  margin-bottom: 24px;

  @include screen-down(sm) {
    font-size: 22px !important;
    font-family: "Gilroy-SemiBold" !important;
    line-height: 135% !important;
  }
}

.c-h5-title {
  font-family: "Gilroy-SemiBold";
  font-size: 22px;
  line-height: 135%;
  /* or 30px */

  letter-spacing: -0.25px;
  color: #17274e;

  @include screen-down(sm) {
    font-family: "Gilroy-Regular";
    font-size: 19px !important;
    line-height: 145% !important;
    color: #a4b7c8;

    &--maintain {
      font-size: 22px !important;
      font-family: "Gilroy-SemiBold" !important;
      line-height: 135% !important;
      color: #17274e;
    }

    &--bold {
      font-family: "Gilroy-SemiBold" !important;
    }
  }
}

.c-h6-title {
  font-family: "Gilroy-Regular";
  font-size: 19px;
  line-height: 145%;
  color: #a4b7c8;
}

.c-p-subtitle {
  /* P */

  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  margin-bottom: 24px;
  color: #a4b7c8;
}

.c-h6-subtitle {
  font-family: "Gilroy-Regular";
  font-size: 19px;
  line-height: 145%;
  /* or 28px */

  color: #17274e;
}
