/*! purgecss start ignore */
@import 'mixins';

.cus-toast-container {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 9999;

  @include screen-down(sm) {
    width: 90%;
    top: 28px;
    right: 0;
  }

  .cus-toast {
    display: flex;
    align-items: center;
    width: 320px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 10px;
    background: #fff;
    justify-content: space-between;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1),
      0 2px 15px 0 rgba(0, 0, 0, 0.05);
    animation: show_toast 0.3s ease forwards;

    @include screen-down(sm) {
      width: 100%;
    }

    &.toast-success,
    &.toast-error {
      .bi-check-circle-fill {
        color: #fff;
      }

      .cus-toast-msg {
        color: #fff;
      }

      .bi-x-lg,
      .bi-x-circle-fill {
        color: #fff;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &.toast-success {
      background-color: #067e30;
    }

    &.toast-error {
      background-color: #e74c3c;
    }

    &::before {
      position: absolute;
      content: '';
      height: 3px;
      width: 100%;
      bottom: 0px;
      left: 0px;
      background-color: #fff;
      animation: progress 5s linear forwards;
    }

    .cus-toast-content {
      display: flex;
      align-items: center;

      .bi-check-circle-fill,
      .bi-x-circle-fill {
        font-size: 24px;
      }

      .cus-toast-msg {
        margin-left: 12px;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Gilroy-Regular';
      }
    }
  }
}

@keyframes progress {
  100% {
    width: 0%;
  }
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}

/*! purgecss end ignore */
