@import '@/styles/_mixins.scss';
@import '@/styles/_mixins.scss';

.modal-container {
  :global .modal-custom {
    .ft-modal-dialog {
      @include screen-up(md) {
        width: 800px;
      }
    }

    .modal-header-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 16px;

      .modal-header-close {
        cursor: pointer;

        &:hover {
          color: var(--bs-warning)
        }
      }
    }

    .popup {
      .popup-detail {
        margin: auto;
        position: relative;

        .popup-detail-apply-title {
          font-family: 'Gilroy-SemiBold';
          font-size: 35px;
          position: relative;
          width: fit-content;
          border-bottom: 8px solid var(--bs-warning);
          line-height: 18px;
        }

        .popup-your-information {
          font-family: 'Gilroy-Medium';
          font-size: 30px;
          color: #212121;
          padding-top: 10px;
          padding-bottom: 30px;
        }
      }

      .form-group {
        label {
          font-family: 'Gilroy-Regular';
          font-size: 1rem;
          color: #3f4254;
        }

        .text-area-style {
          width: 100%;
          border: 1px solid #ced4da;
          height: 80px;
          border-radius: 5px;
          margin-top: 10px;
          padding-top: 2px;
          padding-left: 5px;
        }

        .here-style {
          color: var(--bs-warning);
          cursor: pointer;
        }
      }

      .popup-apply-now {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: 'Gilroy-SemiBold';
        background-color: var(--bs-warning);
        color: #fff;
        height: 50px;
        margin: 12px auto 0;
        padding: 16px 32px 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;

        @include screen-down(md) {
          width: 100%;
        }
      }
    }
  }
}
