@import '@/styles/_mixins.scss';

.zalo-container {
  appearance: none;
  background: none;
  bottom: 85px;
  display: inline;
  padding: 0;
  position: fixed;
  right: 19px;
  top: auto;
  z-index: 2147483647;
  overflow: auto;
  box-shadow: '0 3px 12px rgba(0, 0, 0, .15)';
  transition: 'box-shadow 150ms linear';
  cursor: pointer;
  outline: none;
  user-select: none;

  @include screen-down(sm) {
    bottom: 75px;
  }

  :global .zalo-img-container {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include screen-down(sm) {
      width: 50px;
      height: 50px;
    }
  }
}
