@import '@/styles/_mixins.scss';

.join-steps-container {
  padding: 140px 32px 60px;
  max-width: $max-width-wrapper;
  margin: 0 auto;

  @include screen-down(lg) {
    margin: 0 auto;
    padding: 50px 10% 0;
  }

  @include screen-down(sm) {
    padding: 50px 16px 0;
  }

  :global .join-steps-header {
    color: #17274e;
    text-align: center;
    font-size: 40px;
    font-family: 'Quicksand';
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 64px;

    @include screen-down(lg) {
      font-size: 40px;
      margin-bottom: 32px;
    }

    @include screen-down(md) {
      margin-bottom: 28px;
      font-size: 28px;
    }
  }

  :global .join-steps-main {
    @include screen-down(lg) {
      display: flex;
      flex-direction: column;
      width: 80%;

      @include screen-down(sm) {
        width: 90%;
      }
    }

    .container {
      max-width: 100%;
    }

    .h6 {
      font-family: 'Quicksand';
      color: #1f3a6f;
      line-height: 36px;
      margin: 0;
    }

    .step-title-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      & span:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
      }

      .step-image-container {
        flex-shrink: 0;

        .step-arrow-container {
          position: absolute;
          top: 35px;
          right: -24px;
        }
      }

      .step-title-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 32px;

        .h6 {
          font-size: 24px;
          font-weight: 700;
          text-align: center;
          margin: 0;

          @include screen-down(lg) {
            text-align: left;
          }
        }
      }
    }

    .show-more-btn {
      margin: 16px 0;

      &.reverse {
        transition: all 0.3s ease;
        transform: rotate(-180deg);
      }

      &.initial {
        transition: all 0.3s ease;
        transform: rotate(0);
      }
    }

    .step-content-container {
      .h6 {
        font-size: 20px;
        font-weight: 500;
        text-align: justify;
      }
    }
  }

  :global .join-steps-footer {
    display: flex;
    margin-top: 50px;
    justify-content: center;

    @include screen-down(lg) {
      margin-top: 40px;
    }

    .btn-primary {
      min-width: 320px;

      @include screen-down(lg) {
        width: 100%;
      }
    }
  }
}
