/*! purgecss start ignore */
@import '@/styles/_mixins.scss';

.contact-container {
  background-image: url('/images/ContactBG.png');
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 100%;
  background-size: 500px 500px;
  background-position: right;

  @include screen(xs) {
    :global .ft-container {
      max-width: 100%;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  @include screen-down(xl) {
    background-size: 400px 400px;
  }

  @include screen-down(lg) {
    background-image: none;
  }

  :global .contact-body-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 72px 0 132px 0;

    @include screen-down(md) {
      margin-bottom: 72px;
    }

    .contact-body-inner {
      border: 1px solid #dee7f0;
      box-shadow: 0px 30px 26px rgba(39, 58, 95, 0.15);
      border-radius: 12px;
      min-height: 500px;
      max-width: 850px;
      padding-left: 16px;
      padding-right: 16px;
      background: #fff;

      .contact-form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 48px;
        margin-bottom: 81px;

        .contact-header-container {
          margin-bottom: 24px;
          display: flex;
          flex-direction: column;
          padding: 0 16px;

          @include screen-up(md) {
            align-items: center;
          }

          p {
            margin-top: 24px;
            color: #273a5f;
          }
        }

        .contact-body-form-container {
          display: flex;
          align-items: center;
          justify-content: center;

          .form-group {
            > label {
              color: #001c63;
            }

            .form-control {
              &:not(.is-invalid) {
                border: 1px solid #d0d4ea;
              }

              &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #abb2d9;
                opacity: 1; /* Firefox */
              }
            }
          }

          .contact-submit-container {
            margin-top: 50px;

            .form-check-label {
              font-family: 'Gilroy-Regular';
              font-size: 14px;
              line-height: 22px;
              color: #273a5f !important;

              &:hover {
                cursor: pointer;
              }
            }

            .submit-button {
              color: #fff;
              background: #273a5f;
              box-shadow: 0px 6px 10px #d2e2ed;
              border-radius: 8px;
              font-family: 'Gilroy-Medium';
              font-size: 18px;
              line-height: 20px;
              padding: 16px 22px;
            }
          }
        }
      }
    }
  }
}
/*! purgecss end ignore */
