@import '@/styles/_mixins.scss';

.contact-container {
  background: #ff6847;
  padding: 50px calc(10% + 5px);
  display: flex;
  justify-content: space-between;

  @include screen-down(md) {
    flex-direction: column;
  }

  :global .contact-content-container {
    display: flex;
    flex-direction: column;

    .text-title {
      font-family: 'Gilroy-SemiBold';
      font-size: 36px;
      line-height: 60px;
      letter-spacing: -1px;
      color: #ffffff;

      @include screen-down(md) {
        text-align: center;
        margin-bottom: 24px;
        line-height: 125%;
      }
    }

    .text-sub-title {
      font-family: 'Gilroy-Regular';
      font-size: 20px;
      line-height: 28px;
      color: #ffffff;

      @include screen-down(md) {
        text-align: center;
      }
    }
  }

  :global .contact-button-container {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    @include screen-down(md) {
      margin-top: 30px;
      justify-content: center;
    }

    .contact-button {
      padding: 17px 25px;
      border-radius: 8px;
      transition: all 0.3s ease;
      background: #ffffff;
      font-family: Gilroy-SemiBold;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      color: #ff6847;
      height: 54px;
      max-width: 150px;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
      }
    }
  }
}
