@import '@/styles/_mixins.scss';

.question-answer-step-container {
  width: 100%;

  :global .question-answers-container {
    font-family: 'Gilroy-Regular';
    margin-top: 32px;
    max-width: 800px;
    display: flex;
    flex-direction: column;

    .question-content {
      margin-bottom: 16px;

      @include screen-down(sm) {
        color: #212529;
        font-weight: bold;
      }
    }

    .answers-list {
      margin-bottom: 24px;

      .answers-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;
        font-size: 20px;
      }

      .answers-radio {
        min-width: 16px;
        min-height: 16px;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #ffbe16;
        border: 3px solid white;
        appearance: none;
        background-color: #fff;
        margin-right: 16px;
        &:checked {
          background-color: #ffbe16;
        }
      }

      .answers-label {
        transform: translateY(-6px);
      }
    }
  }
}
