@import '@/styles/_mixins.scss';

.question-answer-step-container {
  max-width: 930px;
  margin: 48px auto 100px;
  padding: 0 15px;

  background-image: url('/images/QuestionBG.png');
  background-repeat: no-repeat;
  background-origin: border-box;
  width: 100%;
  background-size: 250px 250px;
  background-position: right;

  @include screen-down(md) {
    background-image: none;
  }

  :global .question-answers-container {
    font-family: 'Gilroy-Regular';
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    margin-top: 96px;

    .question-content {
      margin-bottom: 32px;

      @include screen-down(sm) {
        color: #212529;
        font-weight: bold;
      }
    }

    .answers-list {
      margin-bottom: 12px;

      .answers-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 24px;
        font-size: 20px;
      }

      .answers-radio {
        min-width: 16px;
        min-height: 16px;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #ffbe16;
        border: 3px solid white;
        appearance: none;
        background-color: #fff;
        margin-right: 16px;
        &:checked {
          background-color: #ffbe16;
        }
      }

      .answers-label {
        transform: translateY(-6px);
      }
    }
  }
}
