@import '@/styles/_mixins.scss';

.career-container {
  max-width: $max-width-wrapper;
  padding: 0 32px;
  margin: 108px auto 0;

  @include screen-down(sm) {
    margin-top: 64px;
  }

  :global .career-header-img {
    width: 200px;
    height: 85.7px;
    position: relative;

    margin: 0 auto;
    margin-top: 64px;

    @include screen-down(sm) {
      width: 150px;
      height: 64.3px;
    }
  }

  :global .career-desktop-container {
    position: relative;
    margin: 50px 14%;

    @include screen-down(xl) {
      margin: 50px 8%;
    }

    @include screen-down(md) {
      display: none;
    }
  }

  :global .career-mobile-container {
    margin-top: 32px;

    @include screen-up(md) {
      display: none;
    }
  }

  //override dot in react slick
  :global(li.slick-active) div {
    background-color: #17274e !important;
  }

  :global .career-info-container {
    .h3 {
      font-family: 'Quicksand';
      font-weight: 700;
      font-size: 36px;
      line-height: 45px;
      text-align: center;
      letter-spacing: -1px;
      color: #17274e;
      margin-bottom: 32px;

      @include screen-down(md) {
        font-size: 30px;
        line-height: 38px;
      }
    }

    .h6 {
      font-family: 'Quicksand';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #17274e;
      margin-bottom: 80px;
    }
  }

  :global .career-card-container {
    background-color: #fff;
    box-shadow: 0 30px 25px rgba(23, 39, 78, 0.11);
    border: 1px solid #eef6fa;
    border-radius: 12px;
    text-align: center;
    overflow: hidden;

    @include screen-down(md) {
      box-shadow: 0 2px 2px rgba(23, 39, 78, 0.11);
    }

    .h2 {
      font-family: 'Quicksand';
      font-weight: 300;
      font-size: 44px;
      line-height: 95px;
      text-align: center;
      letter-spacing: -1px;
      color: #273a5f;
      margin-bottom: 0;

      @include screen-down(xxl) {
        font-size: 40px;
      }

      @include screen-down(xl) {
        font-size: 36px;
      }

      @include screen-down(lg) {
        font-size: 30px;
      }
    }

    .h6 {
      font-family: 'Quicksand';
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #17274e;
      margin-bottom: 24px;
    }
  }
}
