.Toastify__toast {
  .Toastify__close-button {
    padding: 0 !important;
    opacity: 1 !important;
    margin-top: 5px;
    color: #fff;

    & > svg {
      height: 25px !important;
      width: 19px !important;
    }
  }

  &--success {
    &.override__toast-success {
      background: #067e30 !important;
      color: #fff !important;
    }
  }

  &--error {
    background: #e74c3c;
    color: #fff !important;
  }

  &-icon {
    display: none;
  }
}

.Toastify__progress-bar {
  &--success {
    background-color: #fff !important;
    opacity: 1 !important;
  }

  &--error {
    opacity: 1 !important;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
