.logo-container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.job-error-message {
  font-family: 'Gilroy-Regular';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 100px;
}
